
.main{
	
	background-color: #cccccc
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 21px;
    line-height: 20px;
    font-family: Coiny;
    font-style: Italic;
}
.navbar {
	border-radius : 0px;
}
.navbar-right{
	padding-right: 55px;
}
